
.container {
  background-color: rgb(179, 255, 57);
}

.file-input {
  display: none;
}

#file {
  display: none;
}

.upload-btn {
  width: 250px;
  height: 200px;
}

.attach{
  width: 100px;
  height: 100px;
}

.file-carica{

  margin-left: 45%;
  margin-top: 10%;
  font-size: 20px;
  color: white;

}

main {
  background-color: silver;
}
