<main>
  <div class="container">
    <h1>Welcome to {{title}}</h1>
    <h1>Upload File</h1>

      <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>


  <div class="file-upload">
    <div class="file-info">
      {{fileName || "No file uploaded yet."}}
      <div>
        <mat-progress-bar class="progress-bar" mode="determinate"
                    [value]="uploadProgress" *ngIf="uploadProgress">

  </mat-progress-bar>
      </div>
      <div *ngIf="uploadError" class="upload-error">
        {{uploadError}}
      </div>
    </div>

    <div class="upload-controls">
      <button mat-mini-fab color="primary" class="upload-btn"
        (click)="fileUpload.click()">
          <mat-icon>Upload</mat-icon>
      </button>

      <button mat-mini-fab color="warn" class="cancel-btn"
        (click)="cancelUpload()">
          <mat-icon>Cancel</mat-icon>
      </button>
    </div>



<main>
