
.container {
  background-color: rgb(179, 255, 57);
}

.file-input {
  display: none;
}

#file {
  display: none;
}

.upload-btn {
  width: 150px;
}

.attach{
  width: 100px;
}

.file-carica{
  position: absolute;
  margin-left: 45%;
}
