.container{
  background-color: rgb(216, 42, 118);
  color: white;
}

.file-input {
  display: none;
}
#file {
  display: none;
}
.upload-btn {
  width: 151px;
}

.attach{
  width: 200px;
  overflow: visible;
  white-space: nowrap;
  justify-content: center;
}
.file-carica{
  position: absolute;
  margin-left: 45%;
}
